<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>articles</key>
	<dict>
		<key>article</key>
		<array>
			<dict>
				<key>category</key>
				<string>saftey-faqs</string>
				<key>copy</key>
				<string>plants-dog</string>
				<key>desc</key>
				<string>Some of the following plants can be toxic to your dog. Check with your veterinarian before having them in your home.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Harmful Substance</string>
				<key>title</key>
				<string>Poisonous Plants</string>
			</dict>
			<dict>
				<key>category</key>
				<string>saftey-faqs</string>
				<key>copy</key>
				<string>antifreeze-dog</string>
				<key>desc</key>
				<string>Antifreeze makes your car run better in the summertime and wintertime, but it’s dangerous to your pet.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Harmful Substance</string>
				<key>title</key>
				<string>Why do I need to keep my pet from antifreeze?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>saftey-faqs</string>
				<key>copy</key>
				<string>pesticides-dog</string>
				<key>desc</key>
				<string>If you plan to use pesticides or fertilizers on your lawn, be mindful of your cat or dog.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Harmful Substance</string>
				<key>title</key>
				<string>Could the pesticides and fertilizers I use on my lawn be dangerous to my pet?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>dentalcare-dog</string>
				<key>desc</key>
				<string>If possible, get your puppy accustomed to having his teeth cleaned on a regular basis at home.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Dental Health</string>
				<key>title</key>
				<string>Dental Care</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>dentalcrowns-dog</string>
				<key>desc</key>
				<string>The process of crowning damaged teeth is common in human dentistry.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Dental Health</string>
				<key>title</key>
				<string>Can dogs get dental crowns?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>teeth-dog</string>
				<key>desc</key>
				<string>A dog’s dental health depends a lot on its breed and diet. But dogs can get gum disease from plaque on their teeth.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Dental Health</string>
				<key>title</key>
				<string>Should I really brush my dog's teeth?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>health</string>
				<key>copy</key>
				<string>phantompreg-dog</string>
				<key>desc</key>
				<string>If your female dog is acting like she’s expecting, don’t necessarily anticipate new pups.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Pregnancy</string>
				<key>title</key>
				<string>What is a Phantom Pregnancy?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>health</string>
				<key>copy</key>
				<string>pregnancysigns-dog</string>
				<key>desc</key>
				<string>If you suspect that your dog is pregnant, the best way to find out for sure is to take her to the veterinarian.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Pregnancy</string>
				<key>title</key>
				<string>What are the first signs of pregnancy in a dog?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>health</string>
				<key>copy</key>
				<string>delivery-dog</string>
				<key>desc</key>
				<string>If your dog’s expecting, here’s what you should expect on the big day. Within twenty-four hours of giving birth, your dog will likely become very restless and may reject food.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Pregnancy</string>
				<key>title</key>
				<string>My dog is going to have puppies. What happens during a normal delivery?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>basiccommands-dog</string>
				<key>desc</key>
				<string>When using the “come” command, the owner should first call the dog by name followed by “come”.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>Basic Commands</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>Unless you can catch him in the act, it really does not do any good to your dog to drag him off to the site of his mishap and try and punish him.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>Housetraining</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>Preventive training means you try to prevent your dog from exhibiting inappropriate behavior by keeping an eye on him when he is with you, or by keeping him in his crate or a puppy/dog-proofed area when you cannot keep an eye on him.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>Preventative Training</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>Crate training is not putting your dog/puppy in a “cage“ or “jail“, and you are not being cruel if you follow these tips.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>4 Key Tips to Successful Crate Training</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>Training animals by using a clicking device was developed by psychologist B.F. Skinner more than fifty years ago.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>What is the theory behind clicker training?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>If your dog is pulling on its leash, experts say both you and fido have developed a very bad habit.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>How can I keep my dog from pulling on the leash so much?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>If you adopt a puppy, you might enroll her in a training class to learn basic commands.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>My dog is misbehaving. Who might I ask for help?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>Make no bones about it! Food is precious to a dog, so his instinct is to guard it.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>Why is it important for me to be able to handle my dog's food and take treats away from him? How can I safely teach my dog to let me do this?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>To raise a well-behaved puppy, first, take the time to learn the developmental stages in a young dog's life - like the difference between imprinting and socialization.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>What is the best behavior advice for new puppy owners?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>Of all the life stages in the career of a well-behaved dog, adolescence can be the most trying.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>What behavioral training should I give my adolescent dog?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>The best leash allows you to communicate with your dog and keep him under control.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>What should I consider when purchasing a new dog leash?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>Exercising with your dog not only strengthens the bond you two share, it also helps control his weight and maintain a healthy heart, lungs and muscles.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>Exercising with your Dog</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>Keeping your dog fit through exercise helps them lead happier, healthier lives. Here are a few tips to get you started:</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>Exercising with your Dog Checklist</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>Dog owners can take several different steps to help control their dog’s weight.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>Maintaining a Healthy Weight</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>Ribs, lumbar vertebrae, pelvic bones and all bony prominences evident from a distance. No discernible body fat. Obvious loss of muscle mass.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>Understanding your Dog's Body Condition</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>If your pet suddenly has a pot belly, it’s no laughing matter. A distended abdomen can be dangerous.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>Why does my dog suddenly have a pot belly?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>After your pet has had an operation, you may wonder how quickly he can resume his normal exercise routine.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>How do I know how much exercise my pet can handle after surgery?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>So you finally have your obese dog on that weight–loss diet. You're going to prolong his life and restore his health.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>How can I help my dog lose weight?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>If you ever had orthopedic surgery - maybe for your knee or your shoulder - you know the importance of post-operative physical therapy.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>How will a physical therapist work with my dog after surgery?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>basic-care</string>
				<key>copy</key>
				<string>default</string>
				<key>desc</key>
				<string>Is your canine losing weight, almost like he's counting calories? If so, you'll need to take him to the veterinarian.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>Weight and Exercise</string>
				<key>title</key>
				<string>What are some possible causes of weight loss in dogs?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>saftey-faqs</string>
				<key>copy</key>
				<string>firstaidtips-dog</string>
				<key>desc</key>
				<string>In an emergency, keep a level head and quickly get your dog to the veterinarian. Call first. </string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>First Aid</string>
				<key>title</key>
				<string>Emergency First Aid Tips</string>
			</dict>
			<dict>
				<key>category</key>
				<string>saftey-faqs</string>
				<key>copy</key>
				<string>bitten-dog</string>
				<key>desc</key>
				<string>You may have seen a wild animal with rabies acting erratically, like a raccoon, out in the middle of the day.</string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>First Aid</string>
				<key>title</key>
				<string>What happens if an un-vaccinated dog is bitten by a rabid animal?</string>
			</dict>
			<dict>
				<key>category</key>
				<string>saftey-faqs</string>
				<key>copy</key>
				<string>heatstroke-dog</string>
				<key>desc</key>
				<string>Bright sun. Hot day. No shade. These factors can spell trouble for your furry friend. If your dog looks dazed or can’t get up, he may have heat stroke. </string>
				<key>species</key>
				<string>dog</string>
				<key>sub_category</key>
				<string>First Aid</string>
				<key>title</key>
				<string>How do I know if my dog has heatstroke?</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
